################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug/kemidetectcpp.tlog
/lib
/Debug
/packages/vcpkg.D.Code.vcpkg.1.0.0
/x64/Debug
*.sln
*.vcxproj
*.filters
*.user
*.config
